<!DOCTYPE html>
<html>

<head>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116784872-1"></script>


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-116784872-1');
    </script>

    <title>QTIM</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>


    <meta name="description" content="The Quantitative Translational Imaging in Medicine Lab">
    <meta property="og:description" content="The Quantitative Translational Imaging in Medicine Lab" />

    <meta name="author" content="QTIM" />


    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

    <!-- BB START-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- First Font Customization -->
    <!-- Find related css in style.scss line ~286 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Audiowide|Monoton|Orbitron&display=swap" rel="stylesheet"> -->

    <!-- New font 6/30/2021 -->
    <!-- Find related css in style.scss line ~286 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap"
        rel="stylesheet">

    <!-- BB END-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="alternate" type="application/rss+xml"
        title="QTIM - The Quantitative Translational Imaging in Medicine Lab" href="/feed.xml" />

    <!-- Favicon -->
    <link rel=icon type="image/x-icon" href="/favicon-32x32.png">


</head>

<body>
    <div class="wrapper-masthead">
        <header class="masthead clearfix">
            <a name="Top"></a>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top ftco_navbar bg-dark ftco-navbar-light"
                id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('index') }}"><span
                            class="flaticon-pizza-1 mr-1"></span>PFE<br></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{{ url_for('registration') }}"
                                    class="nav-link">Registration</a></li>
                            <li class="nav-item "><a href="{{ url_for('multi_modal') }}" class="nav-link">Multi-modal
                                    Registration </a></li>
                            <li class="nav-item"><a href="{{ url_for('segmentation')}}"
                                    class="nav-link">Segmentation</a></li>
                            <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                      <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                      <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
                <div class="container">
        
                    <a class="navbar-brand logo-text" href="https://surfer.nmr.mgh.harvard.edu">FreeSurfer</a>
        
                    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav ms-auto navbar-nav-scroll">
                            <li class="nav-item"><a class="nav-link" href="https://surfer.nmr.mgh.harvard.edu/fswiki">Wiki</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://surfer.nmr.mgh.harvard.edu/fswiki/DownloadAndInstall">Download</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://surfer.nmr.mgh.harvard.edu/fswiki/FreeSurferSupport">Support</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://freesurfer.net/fswiki/CourseDescription">Course</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/freesurfer/freesurfer">GitHub</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://www.nmr.mgh.harvard.edu/lab/lcn/people">People</a></li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            <!-- <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/research">Research</a>
                <a href="/people">People</a>
                <a href="/publications">Publications</a>
                <a href="/jobs">Jobs</a>
                <a href="/contact">Contact</a>
                <a href="/fun">Fun</a>
                <a href="/lunch">Lunch</a>
            </nav> -->
        </header>
    </div>


    <div id="main" role="main" class="main">
        <style>
        </style>


        <div class="ParallaxVideo">
            <video autoplay muted loop autbuffer playsinline>
                <source src="{{ url_for('static', filename='video/v1.mp4') }}" type="video/mp4"> -->
                <!-- <source src="./video/jays_brain.mp4" type="video/mp4">
                <!-- <source src="./video/jays_brain.ogg" type="video/ogg">
                    <source src="./video/jays_brain.webm" type="video/webm"> -->

            </video>

            <div class="site-info">
                <h1>BTRS</h1>
                <p>Brain Tumor Image Registration and Segmentation</p>
            </div>




        </div>



        <div class="wideview">
            <div class="container">
                <div class="row g-3">
                    <div class="col-2 col-md-6 col-lg-4 mx-auto">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/reg2.png') }}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Some quick example to test Medical Image Registration.</p>

                                <a href="{{ url_for('registration') }}" class="btn btn-primary">Unimodal
                                    Registration</a>
                                <div class="my-4"></div>

                                <a href="{{ url_for('multi_modal') }}" class="btn btn-primary">Multi-modal
                                    Registration</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2  col-lg-4 mx-auto">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/SEG.png') }}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">Some quick example to test Medical Image Segmentation.</p>
                                <a href="{{ url_for('segmentation') }}" class="btn btn-primary">Start Segmentation</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="my-4"></div>



        </div>






    </div>


    <footer class="footer">
        <a href="https://github.com/OUBRAYME-MUSTAFA"><i class="svg-icon github"></i></a>
        <a href="https://www.linkedin.com/in/mustafa-oubrayme-058238171"><i class="svg-icon linkedin"></i></a>
        <!-- <a href="https://youtube.com/channel/UCflrd69yRzRqAdk1ZMSSmug"><i class="svg-icon youtube"></i></a> -->

    </footer>



</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- BB -->
<script src=" {{ url_for('static', filename='js/video_paralax.js') }}"></script>
<!-- BB -->



</html>