<!DOCTYPE html>

<!-- Test: Typical fullscreen usage; autoload an image and overlay. -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ui/toolbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ui/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ui/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/utilities/nojs.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/utilities/unsupported.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewer/viewer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->
    <!-- * * ************************************* * * ********************** * * ****************** * * ************************************************************************* * * -->

    <title>Papaya</title>
</head>

<body>

    <div class="frame">
        <form id="imageForm" enctype="multipart/form-data">
            <div class="center1">
                <div class="card">
                    <div class="card-header title">
                        <h1>Fixed Image</h1>
                    </div>
                    <div id="fix" class="card">
                        <div class="papaya" data-params="params"></div>
                    </div>

                    <div class="dropzone">
                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                        <input type="file" class="upload-input" id="ImageFixed" name="ImageFixed" accept=".nii*"
                            multiple>
                    </div>
                </div>

            </div>
            <div class="center2">
                <div class="card">
                    <div class="card-header title">
                        <h1>Moving Image</h1>
                    </div>
                    <div id="moving" class="card">
                        <div class="papaya" data-params="params"></div>
                    </div>


                    <div class="dropzone">

                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                        <input type="file" class="upload-input" id="ImageMoving" name="ImageMoving" accept=".nii*"
                            multiple>
                    </div>
                </div>
            </div>

            <!-- <button type="button" class="btn" name="uploadbutton">Upload file</button> -->
            <div class="center3">
                <div class="card">
                    <div class="card-header title">
                        <h1>Predict Image</h1>
                    </div>
                    <div id="Predict" class="card">
                        <div class="papaya" data-params="params"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn" id="uploadbutton" name="uploadbutton">Submit</button>
        </form>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            function upload_moved(file) {
                var filesList = new DataTransfer();
                filesList.items.add(file);

                var params = [];
                params["files"] = filesList.files;
                console.log("yessss i am inside of it3")
                console.log(params)
                // params["kioskMode"] = true;
                // params["orthogonal"] = true;
                // params["combineParametric"] = true;
                papaya.Container.resetViewer(2, params);
            }
            $('#uploadbutton').click(function (event) {
                event.preventDefault(); // Prevent the default form submission behavior
                var formElement = $('#imageForm')[0];
                var formData = new FormData(formElement);
                console.log("i am here")

                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,

                    success: function (response) {
                        $.ajax({
                            url: '/get_registered_image_json', // The Flask route to get the JSON data
                            method: 'GET',
                            success: function (response) {
                                console.log("i got the response")
                                // Parse the JSON response
                                var imageData = JSON.parse(response);

                                // Convert the base64-encoded file data to binary data
                                var binaryData = atob(imageData.data);

                                // Convert the binary data to a Blob
                                var blob = new Blob([new Uint8Array(binaryData.length).map((_, i) => binaryData.charCodeAt(i))], { type: 'application/octet-stream' });

                                // Create a File object (Optional: Set the desired filename for the File)
                                var file_pred = new File([blob], imageData.filename, { type: 'application/octet-stream', lastModified: Date.now() });
                                console.log(file_pred)
                                saveAs(file_pred, imageData.filename);
                                // Now, 'file' is a File object that you can use as needed (e.g., display it in the Papaya viewer)
                                // Assuming Papaya's viewer.loadImage() function can handle the File object directly
                                // registeredViewer.viewer.loadImage(file);
                                upload_moved(file_pred)
                            },
                            error: function (xhr, status, error) {
                                console.error('Error fetching registered image JSON:', error);
                            }
                        });

                        // console.log('Greate !!!!!!!!!!!!!!!');
                        // fetch('/get_image')
                        //     .then(response => response.blob()) // Convert the response to a Blob
                        //     .then(blobData => {
                        //         var reader = new FileReader();
                        //         reader.onload = function () {
                        //             var registeredImageData = reader.result.files;
                        //             console.log("I am inside reader")
                        //             console.log(reader.result)
                        //             var binaryData = atob(reader.result.split(',')[1]);

                        //             // Create a Blob object from the binary data
                        //             var blob = new Blob([new Uint8Array(binaryData.length).map((_, i) => binaryData.charCodeAt(i))], { type: 'application/octet-stream' });

                        //             // Create a File object (Optional: Set the desired filename for the File)
                        //             var file = new File([blob], 'BraTS2021_00000_flair.nii.gz', { type: 'application/octet-stream', lastModified: Date.now() });
                        //             console.log("Done with convert")
                        //             console.log(file)
                        //             // Update the registered viewer with the new image data
                        //             upload_moved(file)
                        //             // papayaContainers[2].viewer.loadImage(file);
                        //         };
                        //         reader.readAsDataURL(blobData);
                        //     })
                        //     .catch(error => {
                        //         console.error('Error fetching registered image:', error);
                        //     });

                    },
                    error: function (xhr, status, error) {
                        // Error
                        console.log('File upload failed!');
                    }
                });
            });
        });




    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function handleFileSelect(evt, viewerId) {
                var params = [];
                params["files"] = evt.target.files;
                console.log(evt.target.files)
                console.log("yessss i am inside of it")
                console.log(params)
                // params["kioskMode"] = true;
                // params["orthogonal"] = true;
                // params["combineParametric"] = true;
                papaya.Container.resetViewer(viewerId, params);
            }

            function myFunction(x) {
                x.css("display", "block")
            }
            // if ("{{v1}}"!=""){
            //     console.log("noooooooonhhhe")
            //     myFunction($("#fix"));
            //     FileSelect("{{v1}}", 0)
            // }
            document.getElementById('ImageFixed').addEventListener('change', function (evt) {
                myFunction($("#fix"));
                handleFileSelect(evt, 0); // Pass viewerId 0 for the first                 
            }, false);

            document.getElementById('ImageMoving').addEventListener('change', function (evt) {
                myFunction($("#moving"));
                handleFileSelect(evt, 1); // Pass viewerId 1 for the second 

            }, false);
        });
    </script>

    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <!-- ************************************************************************************************************* -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- js  -->
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/sample-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/talairach-atlas-image.js') }}"></script>
    <script src="{{url_for('static', filename='js/data/talairach-atlas.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/base64-binary.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/bowser.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/daikon.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/nifti-reader.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/numerics.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/pako-inflate.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/gl-matrix.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/gifti-reader.js') }}"></script>
    <script src="{{url_for('static', filename='js/lib/GLU.js') }}"></script>
    <script src="{{url_for('static', filename='js/constants.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/array-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/math-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/object-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/platform-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/string-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/utilities/url-utils.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/coordinate.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/point.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/header.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/imagedata.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/imagedescription.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/imagedimensions.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/imagerange.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/imagetype.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/nifti/header-nifti.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/dicom/header-dicom.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/orientation.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/transform.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/volume.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/voxeldimensions.js') }}"></script>
    <script src="{{url_for('static', filename='js/volume/voxelvalue.js') }}"></script>
    <script src="{{url_for('static', filename='js/surface/surface.js') }}"></script>
    <script src="{{url_for('static', filename='js/surface/surface-gifti.js') }}"></script>
    <script src="{{url_for('static', filename='js/surface/surface-mango.js') }}"></script>
    <script src="{{url_for('static', filename='js/surface/surface-vtk.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/dialog.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menu.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitem.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemcheckbox.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemradiobutton.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemfilechooser.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemrange.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemslider.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/menuitemspacer.js') }}"></script>
    <script src="{{url_for('static', filename='js/ui/toolbar.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/atlas.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/colortable.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/display.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/preferences.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/screenslice.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/screensurface.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/screenvol.js') }}"></script>
    <script src="{{url_for('static', filename='js/viewer/viewer.js') }}"></script>
    <script src="{{url_for('static', filename='js/main.js') }}"></script>
    <script src="{{url_for('static', filename='js/FileSaver.js') }}"></script>
    <!-- JS debug end -->

    <script type="text/javascript">
        /* DO NOT EDIT (start) -- papayaLoadableImages is generated by papaya-builder and is here for debugging purposes only */
        var papayaLoadableImages = [
            { nicename: "Sample Image", name: "sample_image", url: "data/sample_image.nii.gz" },
            { nicename: "Atlas", name: "Talairach_labels_1mm", url: "data/Talairach_labels_1mm.nii.gz", hide: true }
        ];
       /* DO NOT EDIT (end) */
    </script>

</body>


</html>